body{
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: sans-serif;
	background-color: #f4f4f4
}

.container{
	width: 80%;
	margin:auto;
	overflow: hidden;
}

header{
	background: linear-gradient(to right, #005aff, #0012ff);
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 3px solid #0012ff; 
}

header #atas {
	float: left;
}
header #atas h1{
	margin:0; 
}
header nav{
	float: right;
	margin-top: 10px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
 
header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20ppx;
} 

ul {
	margin: 0;
	padding: 0;
}

header #atas, header .active a{
	color: #fff;
	font-weight: bold;
}

header a:hover{
	color: #005aff ;
	font-weight: bold;
}

#tengah {
	min-height: 400px;
	background: url(image/background.jpg) no-repeat 0px 0px; 
	text-align: center;
	color: white;
}



#tengah h1{
	margin-top: 180px;
	font-size: 55px;
	margin-bottom: 10px;
	-webkit-text-stroke: 3px black;
}

#tengah p{
	font-size: 20px;

}

#lagu{
	padding: 5px;
	background: linear-gradient(to right, #0012ff, #005aff);
}

#lagu h3{
	float: left;
	color: #fff;
	margin-left: 10px;
}

#lagu audio{	
	float: right;
	margin-left: 10px;
}

#isi {
	margin-top: 20px;
}

#isi ul{
	font-size: 16px;
}


#isi img{
	width: 40%;
}

#isi .item{
	float: left;;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#video{
	text-align: center;
	margin-top: 50px; 
}
footer{
	padding: 10px;
	margin-top: 100px;
	color: #fff;
	background: linear-gradient(to right, #005aff, #0012ff);
	text-align: center;
}

