body{
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: sans-serif;
	background-color: #f4f4f4
}

.container{
	width: 80%;
	margin:auto;
	overflow: hidden;
}

header{
	background: linear-gradient(to right, #005aff, #0012ff);
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 3px solid #0012ff; 
}

header #atas {
	float: left;
}

header #atas h1{
	margin:0; 
}
header nav{
	float: right;
	margin-top: 10px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
 
header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20ppx;
} 

ul {
	margin: 0;
	padding: 0;
}

header #atas, header .active a{
	color: #fff;
	font-weight: bold;
}

header a:hover{
	color: #005aff ;
	font-weight: bold;
}

textarea{
	color: gray; 
}


#tengah {
	min-height: 400px;
	background: url(image/background.jpg) no-repeat 0px 0px; 
	text-align: center;
	color: white;
}



#tengah h1{
	margin-top: 5px;
	font-size: 55px;
	margin-bottom: 0px;
	-webkit-text-stroke: 3px black;
}

#tengah p{
	margin-top: 5px;
	font-size: 20px;
}

#tengah img{
	margin-top: 200px;
	border-radius: 50%;
	text-align: center;
	width: 115px;
	border-style: solid;
	border-color: #fff;

}

#lagu{

	padding: 2px;
	background: linear-gradient(to right, #0012ff, #005aff);
}

#lagu h3{
	float: left;
	color: #fff;
	margin-left: 10px;
}

#lagu audio{	
	float: right;
	margin-left: 10px;
}

#isi {
	margin-top: 20px;
}

#isi ul{
	font-size: 16px;
}


#isi img{
	width: 40%;
}

#isi .item{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#video{
	text-align: center;
	margin-top: 50px; 
}
footer{
	padding: 10px;
	margin-top: 100px;
	color: #fff;
	background: linear-gradient(to right, #005aff, #0012ff);
	text-align: center;
}

.tombol{
	height: 45px;
	width: 100px;
	background-color:#005aff;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
}

#atasform{
	margin-top: 40px;
	font-size: 20px;
}

#intro{
	text-align: center;
}

@media(max-width: 700px){
	header #atas,
	header nav,
	header nav li,
	#lagu h3,
	#lagu audio,
	#isi .item{
		float: none;
		text-align: center;
		width: 100%;
	}

	header nav li{
		font-size: 80%;
		padding: 0 5px 0 5px;
	}

	

	header{
		padding-bottom: 20px; 
	}

	#tengah{
		background: url(image/background.jpg) ;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

	}

	#atasform{
		width: auto;
		height: 100%;
	}

}


